:root{
    --c-dark: #002033;
    --c-mark: rgba(0, 66, 105, 0.28);
    --c-icon-button: rgba(0, 32, 51, 0.26);
    --c-white: #fff;

    --bg-default: #fff;
    --bg-secondary: #ECF1F4;
    --bg-ghost: #edf2f4;

    --bg-border: #CCD9E0;
    --bg-border-focus: #779AAF;

    --bg-control-primary: #0091FF;
    --bg-control-primary-hover: #0078D2;
    
    --bg-control-ghost: #00426912;
    --bg-control-ghost-f: #edf2f4;
    --bg-control-ghost-hover: #0042690D;

    --typo-primary: #002033;
    --typo-secondary: rgba(0, 32, 51, 0.6);
    --typo-ghost: #00395CCC;

    --c-yellow: #F38B00;
    --c-red: #EB5757;
    --c-blue: #1900E8;


    --shadow: 0px 4px 4px rgba(150, 150, 150, 0.25);

    --graph-blue: #32B4FF;
    --graph-ghost: #0020334D;
}